$secondary-schooner--900: #141313;
$secondary-schooner--950: #050505;
$secondary-schooner--800: #302f2e;
$secondary-schooner--700: #4d4b4a;
$secondary-schooner--600: #6a6765;
$secondary-schooner--500: #868381;
$secondary-schooner--400: #9f9d9b;
$secondary-schooner--300: #b8b6b5;
$secondary-schooner--200: #d1d0cf;
$secondary-schooner--100: #eae9e9;
$secondary-schooner--50: #f6f6f6;
$primary-bright-turquoise--50: #f1fbff;
$primary-bright-turquoise--100: #d7f5ff;
$primary-bright-turquoise--200: #a4e9ff;
$primary-bright-turquoise--300: #71deff;
$primary-bright-turquoise--400: #3ed3ff;
$primary-bright-turquoise--500: #0bcaff;
$primary-bright-turquoise--600: #00a6d2;
$primary-bright-turquoise--700: #007b9a;
$primary-bright-turquoise--800: #004f62;
$primary-bright-turquoise--900: #00222a;
$primary-bright-turquoise--950: #000b0e;
$values-border--radius--1: 4px;
$values-border--radius--2: 8px;
$values-border--radius--3: 16px;
$values-border--radius--5: 40px;
$values-border--radius--4: 24px;
$values-paragraph--spacing--1: 4px;
$values-paragraph--spacing--2: 8px;
$values-paragraph--spacing--3: 12px;
$values-paragraph--spacing--4: 16px;
$values-paragraph--spacing--5: 24px;
$values-paragraph--spacing--6: 48px;
$values-paragraph--spacing--7: 64px;
$values-paragraph-spacing--8: 96px;
$values-border--radius--6: 64px;
