@use 'primitives-mode-1' as *;

$body-body-bg: $secondary-schooner--900;
$card-card--background--1: $secondary-schooner--950;
$card-card--background--2: $secondary-schooner--900;
$card-card--background--3: $secondary-schooner--800;
$card-card--background--4: $secondary-schooner--700;
$card-card--border--primary--1: $primary-bright-turquoise--200;
$text-body--1: $secondary-schooner--50;
$text-body--2: $secondary-schooner--100;
$text-body--3: $secondary-schooner--200;
$text-body--4: $secondary-schooner--300;
$text-headline--1: $secondary-schooner--100;
$text-headline--2: $secondary-schooner--200;
$text-headline--primary: $primary-bright-turquoise--300;
$text-link: $primary-bright-turquoise--300;
$text-primary-text-emphasis: $primary-bright-turquoise--300;
$layout-spacer--colour: #a4e9ff;
$layout-spacer--4: 4px;
$layout-spacer--8: 8px;
$layout-spacer--12: 12px;
$layout-spacer--16: 16px;
$layout-spacer--48: 48px;
$layout-spacer--64: 64px;
$layout-spacer--96: 96px;
$layout-spacer--128: 128px;
$layout-spacer--160: 160px;
$layout-spacer--240: 240px;
$layout-spacer--24: 24px;
$light--shadow-shadow--color--primary: #004f62;
$light--shadow-shadow--color--secondary: #4d4b4a;
$body-a4--width: 2100px;
$body-a4--height: 2970px;
$light--shadow-light--color--primary: #3ed3ff;
$card-card--border--secondary--1: $secondary-schooner--200;
$card-card--border--secondary--2: $secondary-schooner--300;
$card-card--border--secondary--3: $secondary-schooner--400;
$card-card--background--primary: $primary-bright-turquoise--800;
$light--shadow-bright-turquoise--50: #f1fbff;
