$fontfamilymain: "KoHo";
$fontweightsemibold: 600;
$fontweightmedium: 500;
$fontweightbold: 700;
$fontweightregular: 400;
$fontweightlight: 300;
$fontfamilydecoration: "KoHo";
$fontstyledecoration: "Italic";
$fontfamilybrand: "Allerta Stencil";
